@media (min-width: 768px) {
  #page-wrapper {
      margin: 0 0 0 260px;
      padding: 15px 30px;
      min-height: 1200px;
  }
}

.user-name {
  font-size: 24px; /* Điều chỉnh kích thước theo ý muốn */
  font-weight: bold; /* Nếu bạn muốn chữ đậm */
}