<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Bootstrap Advance Admin Template</title>
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">MINT BIKE</a>
      </div>
      <div class="header-right">
        <a routerLink="/login" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>
      </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          <li>
            <a href="/home"><i class="fa fa-dashboard "></i>Dashboard</a>
          </li>
          <li class="menu-item" [class.active]="menuActiveForms">
            <a href="javascript:void(0);" class="menu-toggle" (click)="toggleMenuForms()">
              <i class="fa fa-bicycle"></i>Forms <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level" *ngIf="menuActiveForms">
              <li>
                <a href="/type"><i class="fa fa-desktop"></i>Create Form Type</a>
              </li>
              <li>
                <a href="/product"><i class="fa fa-desktop"></i>Create Form Product</a>
              </li>
              <li>
                <a href="/product_Detail"><i class="fa fa-desktop"></i>Create Product_Detail</a>
              </li>
            </ul>
          <li class="menu-item" [class.active]="menuActiveDataTables">
            <a href="javascript:void(0);" class="menu-toggle" (click)="toggleMenuDataTables()">
              <i class="fa fa-flash "></i>Data Tables <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level" *ngIf="menuActiveDataTables"> <!-- Sử dụng *ngIf để hiển thị menu con -->
              <li>
                <a href="/product_list"><i class="fa fa-desktop"></i>Form_List_Product</a>
              </li>
            </ul>
          </li>
          <li class="menu-item" [class.active]="menuActiveReports">
            <a href="javascript:void(0);" class="menu-toggle" (click)="toggleMenuReports()">
              <i class="fa fa-flash "></i>Reports<span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level" *ngIf="menuActiveReports"> <!-- Sử dụng *ngIf để hiển thị menu con -->
              <li>
                <a href="/reports/payment"><i class="fa fa-desktop"></i>Payments</a>
              </li>
            </ul>
          </li>
          <li class="menu-item" [class.active]="menuActiveStock">
            <a href="javascript:void(0);" class="menu-toggle" (click)="toggleMenuStock()">
              <i class="fa fa-flash "></i>Stock Management<span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level" *ngIf="menuActiveStock"> <!-- Sử dụng *ngIf để hiển thị menu con -->
              <li>
                <a href="/stock"><i class="fa fa-desktop"></i>Stock</a>
              </li>
              <li>
                <a href="/stock/restock"><i class="fa fa-desktop"></i>Restock</a>
              </li>
              <li>
                <a href="/stock/history"><i class="fa fa-desktop"></i>Restock History</a>
              </li>
            </ul>
          </li>
          <li class="menu-item" [class.active]="menuActiveStock">
            <a href="javascript:void(0);" class="menu-toggle" (click)="toggleMenuPackages()">
              <i class="fa fa-flash "></i>Packages<span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level" *ngIf="menuActivePackages"> <!-- Sử dụng *ngIf để hiển thị menu con -->
              <li>
                <a href="/packages"><i class="fa fa-desktop"></i>Packages Management</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>
