<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">Product List</h1>
      </div>
    </div>

    <!-- Product List -->
    <div class="product-list">
      <div *ngFor="let product of products" class="product-card">
        <div class="product-header">
          <div class="product-title">
            <h3>{{ product.productName }}</h3>
            <p class="product-price">{{ product.price | currency: 'VND' }}</p>
          </div>
        </div>

        <div class="product-body">
          <div class="product-details">
            <div class="product-info">
              <p><strong>Id:</strong> {{ product.id }}</p>
              <p><strong>Created:</strong> {{ product.create | date: 'yyyy-MM-dd' }}</p>
              <p><strong>Status:</strong> {{ product.status }}</p>
              <div class="price-decrease">
                <strong>Price Decrease:</strong>
                <span [ngClass]="{'price-decrease': product.priceHasDecreased}">
                  {{ product.priceHasDecreased }}
                </span>
              </div>
            </div>
            <div class="product-description">
              <strong>Description:</strong>
              <!-- Hide or show the description based on the toggle state -->
              <div *ngIf="product.showDetails" class="description-text">
                {{ product.description }}
              </div>
              <button (click)="toggleDetails(product)" class="btn btn-link btn-sm">
                {{ product.showDetails ? 'Hide Details' : 'Show Details' }}
              </button>
            </div>

          </div>

          <div class="product-image">
            <img [src]="getImageUrl(product)" alt="Product Image" class="img-fluid">
          </div>
        </div>

        <div class="product-actions">
          <button (click)="editProduct(product)" class="btn btn-warning btn-sm">Edit</button>
          <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>