<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">Types & Brands Management</h1>
      </div>
    </div>

    <!-- Nút điều khiển -->
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="selectedForm = 'formType'">Create Type</button>
        <button class="btn btn-primary" (click)="selectedForm = 'typeUpdate'">Type Update</button>
        <button class="btn btn-primary" (click)="selectedForm = 'formBrand'">Create Brand</button>
        <button class="btn btn-primary" (click)="selectedForm = 'brandUpdate'">Brand Update</button>
      </div>
    </div>

    <!-- Form Type -->
    <div class="row" *ngIf="selectedForm === 'formType'">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">Form Type</div>
          <div class="panel-body">
            <form [formGroup]="typeForm" (ngSubmit)="onSubmitType()" role="form">
              <div class="form-group">
                <label>Enter Name</label>
                <input class="form-control" type="text" formControlName="name">
                <p class="help-block" *ngIf="typeForm.get('name')?.invalid && typeForm.get('name')?.touched">Name is
                  required.</p>

              </div>
              <div class="form-group">
                <label>Enter Description</label>
                <input class="form-control" type="text" formControlName="description">
                <p class="help-block"
                  *ngIf="typeForm.get('description')?.invalid && typeForm.get('description')?.touched">Description is
                  required.</p>

              </div>
              <div class="form-group">
                <label>Product Type</label>
                <input class="form-control" type="text" formControlName="productType">
                <p class="help-block"
                  *ngIf="typeForm.get('productType')?.invalid && typeForm.get('productType')?.touched">Product type is
                  required.</p>

              </div>
              <button type="submit" class="btn btn-info" [disabled]="typeForm.invalid">Create Data</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Type Update -->
    <div class="row" *ngIf="selectedForm === 'typeUpdate'">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-danger">
          <div class="panel-heading">Type Update</div>
          <div class="panel-body">
            <form [formGroup]="updateFormType" (ngSubmit)="onUpdateType()" role="form">
              <div class="form-group">
                <label>Id Type</label>
                <input class="form-control" type="text" formControlName="id">
              </div>

              <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" formControlName="description">
              </div>

              <button type="submit" class="btn btn-danger" [disabled]="updateFormType.invalid">Update Data</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Form Brand -->
    <div class="row" *ngIf="selectedForm === 'formBrand'">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">Form Brand</div>
          <div class="panel-body">
            <form [formGroup]="brandForm" (ngSubmit)="onSubmitBrand()" role="form">
              <div class="form-group">
                <label>Enter Name</label>
                <input class="form-control" type="text" formControlName="brandName">
                <p class="help-block"
                  *ngIf="brandForm.get('brandName')?.invalid && brandForm.get('brandName')?.touched">Name is required.
                </p>

              </div>
              <div class="form-group">
                <label>Enter Description</label>
                <input class="form-control" type="text" formControlName="origin">
                <p class="help-block" *ngIf="brandForm.get('origin')?.invalid && brandForm.get('origin')?.touched">
                  Description is required.</p>

              </div>
              <button type="submit" class="btn btn-info" [disabled]="brandForm.invalid">Create Data</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Brand Update -->
    <div class="row" *ngIf="selectedForm === 'brandUpdate'">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-danger">
          <div class="panel-heading">Brand Update</div>
          <div class="panel-body">
            <form [formGroup]="updateFormBrand" (ngSubmit)="onUpdateBrand()" role="form">
              <div class="form-group">
                <label>Id Brand</label>
                <input class="form-control" type="text" formControlName="id">
                <p class="help-block" *ngIf="updateFormBrand.get('id')?.invalid && updateFormBrand.get('id')?.touched">
                  Id is required.</p>
              </div>

              <div class="form-group">
                <label>Origin</label>
                <input class="form-control" type="text" formControlName="origin">
                <p class="help-block"
                  *ngIf="updateFormBrand.get('origin')?.invalid && updateFormBrand.get('origin')?.touched">Description
                  is required.</p>
              </div>

              <button type="submit" class="btn btn-danger" [disabled]="updateFormBrand.invalid">Update Data</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>