.row {
  margin: 0;
}

.col-md-6 {
  width: 100%;
  padding: 0;
}

.panel {
  width: 100%;
  max-width: 100%;
}

.panel-heading {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f8f8f8;
    font-weight: bold;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.product-description {
  overflow: hidden;
  display: -webkit-box;
  display: box;
  /* Thêm thuộc tính chuẩn */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  /* Thêm thuộc tính chuẩn */
  -webkit-line-clamp: 3;
  /* Hiển thị 3 dòng */
  line-clamp: 3;
  /* Thêm thuộc tính chuẩn */
  max-height: 4.5em;
  /* Chiều cao tối đa cho 3 dòng */
  transition: max-height 0.3s ease;
  /* Hiệu ứng chuyển tiếp */
}

.product-description.expanded {
  max-height: none;
  /* Hiển thị tất cả khi mở rộng */
  overflow: visible;
  /* Hiển thị tất cả nội dung */
}

.table-responsive {
  max-height: 510px;
  /* Giới hạn chiều cao của bảng */
  overflow-y: auto;
  /* Thêm thanh cuộn dọc */
}